# Azure DevOps Pipeline for .NET + Docker
# Builds, tests, and publishes Docker image to Azure Container Registry (ACR)

trigger:
  - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageName: 'concertservice'
  dockerfilePath: 'Dockerfile'
  buildContext: '.'


steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '8.0.x'
    installationPath: $(Agent.ToolsDirectory)/dotnet

- script: |
    dotnet restore src/src/ConcertService/ConcertService.csproj
    dotnet build src/src/ConcertService/ConcertService.csproj --configuration Release --no-restore
    dotnet publish src/src/ConcertService/ConcertService.csproj --configuration Release --output publish --no-build
  displayName: 'Restore, Build, and Publish'

# Docker Hub login using secrets
- script: |
    echo $(DOCKERHUB_PASSWORD) | docker login --username $(DOCKERHUB_USERNAME) --password-stdin
  displayName: 'Login to Docker Hub'
  env:
    DOCKERHUB_USERNAME: $(DOCKERHUB_USERNAME)
    DOCKERHUB_PASSWORD: $(DOCKERHUB_PASSWORD)

- task: Docker@2
  displayName: 'Build and push Docker image'
  inputs:
    command: 'buildAndPush'
    repository: 'mabbasidesign/$(imageName)'
    dockerfile: '$(dockerfilePath)'
    buildContext: '$(buildContext)'
    tags: |
      $(Build.BuildId)
      latest

# To deploy to Azure Web App for Containers, add a deployment step here.
