# Azure DevOps Pipeline for .NET + Docker
# Builds, tests, and publishes Docker image to Azure Container Registry (ACR)

trigger:
  - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageRepository: '<your-acr-name>.azurecr.io/cludale'
  dockerRegistryServiceConnection: 'dockerhub-cludale'
  tag: '$(Build.BuildId)'
  dockerfilePath: 'Dockerfile'
  buildContext: '.'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '8.0.x'
    installationPath: $(Agent.ToolsDirectory)/dotnet

- script: |
    dotnet restore src/src/ConcertService/ConcertService.csproj
    dotnet build src/src/ConcertService/ConcertService.csproj --configuration Release --no-restore
    dotnet publish src/src/ConcertService/ConcertService.csproj --configuration Release --output publish --no-build
  displayName: 'Restore, Build, and Publish'


# task: Docker@2
#   displayName: 'Build and push Docker image'
#   inputs:
#     command: 'buildAndPush'
#     repository: '$(imageRepository)'
#     dockerfile: '$(dockerfilePath)'
#     buildContext: '$(buildContext)'
#     tags: |
#       $(tag)
#       latest
#     containerRegistry: $(dockerRegistryServiceConnection)

# Deploy Azure resources using Bicep
- task: AzureCLI@2
  displayName: 'Create Resource Group and Deploy Bicep'
  inputs:
    azureSubscription: 'f2f7f036-0d40-48ca-a532-eb590c2eac8b'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: |
      az group create --name rg-cludale --location canadaeast
      az deployment group create --resource-group rg-cludale --template-file infra/main.bicep
    workingDirectory: $(System.DefaultWorkingDirectory)
